.item1 { grid-area: header;}
.item2 { grid-area: main; }
.item3 { grid-area: footer; }

#logo {
  height: 150px;
  width: 150px;
}

h2 {
  display: inline;
  position: absolute;
  top: 40px;
margin-left: 20px;
}

.strelica {
  width: 30px;
  height: 30px;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 10px;
    padding: 10px;
    
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255);
    text-align: left;
    padding: 10px 0;
    font-size: 30px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: green;
  }
